<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/navigation.ejs %>
    </header>
    <main class="container">
      <h1><%= title %></h1>
      <a href="/posts/new" class="btn btn-primary mb-2" role="button">Create New Post</a>
      <ul class="list-group">
        <% posts.forEach(post => { %>
          <li class="list-group-item">
            <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
            <p><%= post.content %></p>
          </li>
        <% }) %>
      </ul>
    </main>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>